In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# LSTM Model
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense, LSTM

Using TensorFlow backend.

In [2]:
data_path = os.path.join(os.getcwd(), 'data')
data_path

'C:\\Users\\lynkx\\Python Projects\\BB\\data'

In [3]:
df_kpis = pd.read_excel(os.path.join(data_path, 'analisi.xlsx'), sheetname='KPIs')
df_spending = pd.read_excel(os.path.join(data_path, 'analisi.xlsx'), sheetname='Spending')

In [4]:
df_kpis.sort_values(by='Date', inplace=True)
df_spending.sort_values(by='Date', inplace=True)

# Drop K5, because it's another response variable
df_kpis.drop('K5', axis=1, inplace=True)

In [5]:
# Date metric
df_kpis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 0 to 931
Data columns (total 11 columns):
Date    932 non-null datetime64[ns]
K1      932 non-null int64
K2      932 non-null int64
K3      932 non-null int64
K4      932 non-null int64
K6      932 non-null int64
K7      932 non-null int64
K8      932 non-null int64
K9      932 non-null float64
K10     932 non-null float64
K11     932 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(7)
memory usage: 87.4 KB

In [6]:
df_kpis['month'] = df_kpis['Date'].dt.month
df_kpis['year'] = df_kpis['Date'].dt.year
df_kpis['weekday'] = df_kpis['Date'].dt.weekday
df_kpis['days_in_month'] = df_kpis['Date'].dt.daysinmonth

In [7]:
df_kpis_date = df_kpis['Date']
df_kpis.index = df_kpis_date
df_kpis.drop('Date', axis=1, inplace=True)

In [8]:
df_kpis.head()

,K1,K2,K3,K4,K6,K7,K8,K9,K10,K11,month,year,weekday,days_in_month
Date,,,,,,,,,,,,,,
2015-03-16,0,0,155,0,379,195,923,3.030303,0.210184,0.333333,3,2015,0,31
2015-03-17,1,8,1074,34,658,468,3563,4.532667,0.370474,0.301205,3,2015,1,31
2015-03-18,0,10,1129,46,652,493,3679,4.902364,0.366676,0.288462,3,2015,2,31
2015-03-19,0,7,1107,33,597,522,3517,4.775744,0.355701,0.385714,3,2015,3,31
2015-03-20,0,13,1116,143,606,453,3815,4.228381,0.388991,0.678571,3,2015,4,31

In [9]:
df_spending['month'] = df_spending['Date'].dt.month
df_spending['year'] = df_spending['Date'].dt.year
df_spending['days_in_month'] = df_spending['Date'].dt.daysinmonth
df_spending.index = df_spending['Date']
df_spending.drop('Date', axis=1, inplace=True)

In [10]:
df_spending['avgE1'] = df_spending['E1']/df_spending['days_in_month']
df_spending['avgE2'] = df_spending['E2']/df_spending['days_in_month']

In [11]:
df_kpis = df_kpis.merge(df_spending[['year', 'month', 'avgE1', 'avgE2']], on=['year', 'month'],
                        how='inner')
df_kpis.index = df_kpis_date

In [12]:
df_kpis.head()

,K1,K2,K3,K4,K6,K7,K8,K9,K10,K11,month,year,weekday,days_in_month,avgE1,avgE2
Date,,,,,,,,,,,,,,,,
2015-03-16,0,0,155,0,379,195,923,3.030303,0.210184,0.333333,3,2015,0,31,530.129032,4403.387097
2015-03-17,1,8,1074,34,658,468,3563,4.532667,0.370474,0.301205,3,2015,1,31,530.129032,4403.387097
2015-03-18,0,10,1129,46,652,493,3679,4.902364,0.366676,0.288462,3,2015,2,31,530.129032,4403.387097
2015-03-19,0,7,1107,33,597,522,3517,4.775744,0.355701,0.385714,3,2015,3,31,530.129032,4403.387097
2015-03-20,0,13,1116,143,606,453,3815,4.228381,0.388991,0.678571,3,2015,4,31,530.129032,4403.387097

In [13]:
df_kpis.shape

(932, 16)

In [14]:
cols_list = [i for i in df_kpis.columns if i[0] == 'K']
cols_list.append('avgE1')
cols_list.append('avgE2')

In [15]:
print(cols_list)

['K1', 'K2', 'K3', 'K4', 'K6', 'K7', 'K8', 'K9', 'K10', 'K11', 'avgE1', 'avgE2']

In [16]:
logs = np.log1p(df_kpis[cols_list])
logs.head()

,K1,K2,K3,K4,K6,K7,K8,K9,K10,K11,avgE1,avgE2
Date,,,,,,,,,,,,
2015-03-16,0.000000,0.000000,5.049856,0.000000,5.940171,5.278115,6.828712,1.393842,0.190773,0.287682,6.275005,8.390356
2015-03-17,0.693147,2.197225,6.980076,3.555348,6.490724,6.150603,8.178639,1.710670,0.315157,0.263291,6.275005,8.390356
2015-03-18,0.000000,2.397895,7.029973,3.850148,6.481577,6.202536,8.210668,1.775353,0.312381,0.253449,6.275005,8.390356
2015-03-19,0.000000,2.079442,7.010312,3.526361,6.393591,6.259581,8.165648,1.753667,0.304319,0.326216,6.275005,8.390356
2015-03-20,0.000000,2.639057,7.018402,4.969813,6.408529,6.118097,8.246958,1.654102,0.328577,0.517943,6.275005,8.390356

In [17]:
dummies = pd.get_dummies(df_kpis[['month', 'year', 'weekday']].astype(str))
dummies.head()

,month_1,month_10,month_11,month_12,month_2,month_3,month_4,month_5,month_6,month_7,...,year_2015,year_2016,year_2017,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
Date,,,,,,,,,,,,,,,,,,,,,
2015-03-16,0,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
2015-03-17,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2015-03-18,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2015-03-19,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2015-03-20,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [18]:
df = pd.concat([logs, dummies], axis=1)
print(df.shape)
print(df.columns)

(932, 34)
Index(['K1', 'K2', 'K3', 'K4', 'K6', 'K7', 'K8', 'K9', 'K10', 'K11', 'avgE1',
       'avgE2', 'month_1', 'month_10', 'month_11', 'month_12', 'month_2',
       'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8',
       'month_9', 'year_2015', 'year_2016', 'year_2017', 'weekday_0',
       'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5',
       'weekday_6'],
      dtype='object')

In [19]:
np.correlate(df['K11'], df['K1'])

array([ 141.05151014])

In [20]:
from scipy.signal import correlate
correlate(df['K11'], df['K1'])

array([ -6.59686824e-14,  -8.92517467e-14,  -7.56699592e-14, ...,
         7.00744884e-02,   8.28321586e-02,  -4.65661287e-14])

In [21]:
from statsmodels.tsa.stattools import ccf
ccf(df['K11'], df['K1'])

C:\Users\lynkx\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

array([ -2.71360393e-01,  -3.01172571e-01,  -3.07378870e-01,
        -2.86451208e-01,  -2.85020491e-01,  -2.80305580e-01,
        -2.65017958e-01,  -2.82678843e-01,  -2.87261693e-01,
        -2.82467749e-01,  -2.76295101e-01,  -2.75258865e-01,
        -2.83776692e-01,  -2.77129038e-01,  -2.68404236e-01,
        -2.87365544e-01,  -3.03492275e-01,  -2.89834709e-01,
        -2.76217704e-01,  -2.76131304e-01,  -2.61277716e-01,
        -2.60450288e-01,  -2.76273783e-01,  -2.87077740e-01,
        -2.68336017e-01,  -2.48358652e-01,  -2.45677849e-01,
        -2.55877561e-01,  -2.54416562e-01,  -2.65417577e-01,
        -2.58959603e-01,  -2.47530018e-01,  -2.27250815e-01,
        -2.20540604e-01,  -2.13326879e-01,  -2.03074024e-01,
        -2.00344050e-01,  -2.09053928e-01,  -2.02069081e-01,
        -2.09548896e-01,  -1.87386722e-01,  -1.73953461e-01,
        -1.78918948e-01,  -2.04810408e-01,  -2.21046515e-01,
        -2.17966459e-01,  -2.01372405e-01,  -2.00267862e-01,
        -1.84406984e-01,  -1.90939703e-01,  -1.96832504e-01,
        -2.06335794e-01,  -1.98249085e-01,  -1.75309915e-01,
        -1.81257215e-01,  -1.78799650e-01,  -1.65883320e-01,
        -1.77005753e-01,  -1.83225588e-01,  -1.72376316e-01,
        -1.69324330e-01,  -1.60362854e-01,  -1.47055095e-01,
        -1.66765750e-01,  -1.71739406e-01,  -1.75782528e-01,
        -1.60984688e-01,  -1.50750186e-01,  -1.43797463e-01,
        -1.18316640e-01,  -1.41581151e-01,  -1.57267318e-01,
        -1.71955725e-01,  -1.55931593e-01,  -1.49457751e-01,
        -1.33099015e-01,  -1.15642020e-01,  -1.31109229e-01,
        -1.44597770e-01,  -1.47495896e-01,  -1.42910311e-01,
        -1.32102310e-01,  -1.16490398e-01,  -9.92940725e-02,
        -1.02964687e-01,  -9.86863001e-02,  -1.21703812e-01,
        -1.21851115e-01,  -1.24713104e-01,  -1.02446574e-01,
        -9.55165873e-02,  -1.01014918e-01,  -1.21576005e-01,
        -1.27527527e-01,  -1.29895667e-01,  -1.14173851e-01,
        -1.22393278e-01,  -9.57137677e-02,  -9.91257370e-02,
        -1.17907623e-01,  -1.26968070e-01,  -1.14430445e-01,
        -1.04465136e-01,  -1.01197180e-01,  -1.02051533e-01,
        -9.24718983e-02,  -1.05165659e-01,  -1.00428845e-01,
        -9.95855426e-02,  -9.90370791e-02,  -9.21665297e-02,
        -7.37671804e-02,  -7.16881850e-02,  -9.10434634e-02,
        -1.03770333e-01,  -8.89093702e-02,  -8.60055953e-02,
        -8.64468456e-02,  -7.08423782e-02,  -8.58705612e-02,
        -1.04953825e-01,  -1.24225488e-01,  -1.23542861e-01,
        -1.17123029e-01,  -1.15916262e-01,  -1.18279524e-01,
        -1.22336768e-01,  -1.41362925e-01,  -1.50627606e-01,
        -1.47658841e-01,  -1.50385978e-01,  -1.45481782e-01,
        -1.36115727e-01,  -1.44943720e-01,  -1.58693682e-01,
        -1.73712632e-01,  -1.65795212e-01,  -1.62490198e-01,
        -1.70197840e-01,  -1.61652370e-01,  -1.65039451e-01,
        -1.91850647e-01,  -2.07901298e-01,  -2.07460153e-01,
        -1.93045114e-01,  -2.04745469e-01,  -1.89020512e-01,
        -1.93337010e-01,  -2.10357244e-01,  -2.42810029e-01,
        -2.37376768e-01,  -2.26473853e-01,  -2.31713842e-01,
        -2.36944533e-01,  -2.36181694e-01,  -2.56316057e-01,
        -2.57304282e-01,  -2.48721556e-01,  -2.47822792e-01,
        -2.38108797e-01,  -2.37196352e-01,  -2.41528044e-01,
        -2.46570351e-01,  -2.66561576e-01,  -2.60898486e-01,
        -2.72643579e-01,  -2.61897491e-01,  -2.56961215e-01,
        -2.77511196e-01,  -2.89593562e-01,  -2.95928038e-01,
        -2.66063282e-01,  -2.66991611e-01,  -2.74104852e-01,
        -2.49058024e-01,  -2.53224397e-01,  -2.68684632e-01,
        -2.75797078e-01,  -2.80929210e-01,  -2.62021529e-01,
        -2.53198771e-01,  -2.51361139e-01,  -2.49988188e-01,
        -2.84600472e-01,  -2.85665499e-01,  -2.88649305e-01,
        -2.81074826e-01,  -2.74839203e-01,  -2.62209414e-01,
        -2.73253370e-01,  -2.95538986e-01,  -3.32793558e-01,
        -2.94028101e-01,  -2.83456283e-01,  -2.88266816e-01,
        -2.69852079e-01,  -2.77859216e-01,  -2.89674290e-01,
        -3.10914101e-01,  -2.96322427e-01,  -2.77382244e-01,
        -2.83093987e-01,  -2.52971689e-01,  -2.56675557e-01,
        -2.64019819e-01,  -2.76392916e-01,  -2.72781776e-01,
        -2.54589525e-01,  -2.47713598e-01,  -2.36163315e-01,
        -2.40134445e-01,  -2.47524976e-01,  -2.59065541e-01,
        -2.55791241e-01,  -2.49601469e-01,  -2.27853833e-01,
        -2.08272821e-01,  -2.18840459e-01,  -2.25592219e-01,
        -2.30941312e-01,  -2.21658114e-01,  -2.23703452e-01,
        -2.07402314e-01,  -1.82326449e-01,  -1.83470517e-01,
        -2.16232163e-01,  -2.18783923e-01,  -2.21275909e-01,
        -1.95153444e-01,  -1.92985583e-01,  -1.66905981e-01,
        -1.83312897e-01,  -2.05995295e-01,  -2.13867708e-01,
        -2.03275665e-01,  -2.00134910e-01,  -2.07284652e-01,
        -1.70083284e-01,  -1.58956149e-01,  -1.80602228e-01,
        -1.88248818e-01,  -1.65420427e-01,  -1.58007058e-01,
        -1.54411907e-01,  -1.47275333e-01,  -1.35719765e-01,
        -1.45811356e-01,  -1.51383518e-01,  -1.31601196e-01,
        -1.09702674e-01,  -1.10027234e-01,  -9.77086764e-02,
        -1.13036447e-01,  -1.22429438e-01,  -1.51032472e-01,
        -1.42452934e-01,  -1.28218899e-01,  -1.16698207e-01,
        -1.05823430e-01,  -1.13218167e-01,  -1.22446385e-01,
        -1.23694718e-01,  -1.15987776e-01,  -8.96625458e-02,
        -6.93721111e-02,  -6.03908332e-02,  -4.82253924e-02,
        -5.79207460e-02,  -7.03354374e-02,  -5.99188256e-02,
        -4.38929221e-02,  -3.29533367e-02,  -3.10895463e-02,
        -2.22585992e-02,  -4.84129976e-02,  -5.48939369e-02,
        -5.86702318e-02,  -4.04588484e-02,  -1.68939758e-02,
        -1.52717054e-02,  -2.01767183e-02,  -4.47207509e-02,
        -5.96624943e-02,  -5.55629113e-02,  -4.94221631e-02,
        -4.05282227e-02,  -3.13291234e-02,  -3.84905825e-02,
        -3.00961541e-02,  -5.34975036e-02,  -4.37467222e-02,
        -3.15656128e-02,  -2.31356917e-02,  -1.56302131e-02,
        -1.69680629e-02,  -4.20573597e-02,  -5.36160663e-02,
        -6.30506579e-02,  -5.47451327e-02,  -5.42846437e-02,
        -5.39303193e-02,  -7.06907089e-02,  -8.60351032e-02,
        -8.61815973e-02,  -8.47401888e-02,  -6.80190403e-02,
        -7.13269418e-02,  -7.40373843e-02,  -8.40332413e-02,
        -9.53142634e-02,  -1.24522530e-01,  -1.21026580e-01,
        -1.15156710e-01,  -1.01632079e-01,  -1.00633229e-01,
        -1.05444565e-01,  -1.38357833e-01,  -1.37804085e-01,
        -1.44889919e-01,  -1.30181775e-01,  -1.22812230e-01,
        -1.20096368e-01,  -1.44195997e-01,  -1.26668917e-01,
        -1.47971668e-01,  -1.47169626e-01,  -1.29744156e-01,
        -1.26182372e-01,  -1.02262797e-01,  -1.05891903e-01,
        -1.28154763e-01,  -1.53087509e-01,  -1.56970757e-01,
        -1.47828334e-01,  -1.36921661e-01,  -1.50509454e-01,
        -1.44222637e-01,  -1.49621730e-01,  -1.74095251e-01,
        -1.72909339e-01,  -1.58311501e-01,  -1.41516896e-01,
        -1.22936988e-01,  -1.28972320e-01,  -1.62656410e-01,
        -1.75429054e-01,  -1.77221741e-01,  -1.48888471e-01,
        -1.43828965e-01,  -1.32200399e-01,  -1.38417117e-01,
        -1.54435772e-01,  -1.62814691e-01,  -1.68902047e-01,
        -1.47017897e-01,  -1.20967590e-01,  -1.27651002e-01,
        -1.20221581e-01,  -1.13041908e-01,  -1.02069485e-01,
        -1.11099435e-01,  -1.09453836e-01,  -9.24952198e-02,
        -8.79157621e-02,  -9.14972056e-02,  -1.17174453e-01,
        -1.23780584e-01,  -1.04426819e-01,  -8.49888564e-02,
        -9.28540333e-02,  -8.62019204e-02,  -8.47549821e-02,
        -8.52648938e-02,  -9.38573324e-02,  -7.29311001e-02,
        -4.00260250e-02,  -4.24727510e-02,  -1.90294635e-02,
         7.58183393e-03,  -1.76843468e-04,  -4.73279267e-03,
         2.59881138e-02,   4.78826204e-02,   5.33789564e-02,
         7.74094164e-02,   9.28274748e-02,   8.94058581e-02,
         9.27104606e-02,   9.87640393e-02,   1.20786751e-01,
         1.35801530e-01,   1.48482889e-01,   1.58663515e-01,
         1.65332219e-01,   1.58122732e-01,   1.70151224e-01,
         1.88949878e-01,   2.01056496e-01,   1.96705743e-01,
         2.12051573e-01,   2.04071722e-01,   1.91702840e-01,
         1.99564168e-01,   2.07946715e-01,   2.08980547e-01,
         2.11911153e-01,   2.11673407e-01,   1.89371517e-01,
         1.86689660e-01,   1.87388560e-01,   1.89048797e-01,
         2.10062156e-01,   2.02243915e-01,   2.15650382e-01,
         2.03437834e-01,   2.10004972e-01,   2.20355712e-01,
         2.10343531e-01,   2.20153660e-01,   2.32982465e-01,
         2.14689037e-01,   2.03270730e-01,   2.02468547e-01,
         2.19694432e-01,   2.24188328e-01,   2.02644228e-01,
         2.22347716e-01,   2.17487369e-01,   2.06917881e-01,
         1.85307060e-01,   1.81967456e-01,   2.00880776e-01,
         1.98249648e-01,   1.97743466e-01,   2.10608071e-01,
         2.12374194e-01,   2.07316350e-01,   2.10719376e-01,
         2.09953931e-01,   2.20103972e-01,   2.27720489e-01,
         2.17394148e-01,   2.15061354e-01,   1.95095860e-01,
         2.14261442e-01,   2.30880012e-01,   2.35267083e-01,
         2.27669649e-01,   2.14700210e-01,   2.27778100e-01,
         2.11708897e-01,   2.24161452e-01,   2.12719032e-01,
         2.22263822e-01,   2.23566718e-01,   2.23519929e-01,
         2.15965315e-01,   2.32132534e-01,   2.27269740e-01,
         2.43807044e-01,   2.50825397e-01,   2.37984202e-01,
         2.37323659e-01,   2.27532836e-01,   2.31002088e-01,
         2.35987356e-01,   2.36525056e-01,   2.50790855e-01,
         2.59343792e-01,   2.38713607e-01,   2.16664847e-01,
         2.22425759e-01,   2.40634085e-01,   2.34399311e-01,
         2.27048974e-01,   2.28078265e-01,   2.20367735e-01,
         2.07199549e-01,   2.08812240e-01,   2.03183106e-01,
         2.16307550e-01,   2.13992002e-01,   2.31278370e-01,
         2.12238979e-01,   2.09764898e-01,   2.15007073e-01,
         2.23996279e-01,   2.13210405e-01,   2.13350245e-01,
         2.15806842e-01,   2.31754794e-01,   2.31739241e-01,
         2.18308228e-01,   2.18912806e-01,   2.25426461e-01,
         2.21794614e-01,   2.09925814e-01,   2.16205891e-01,
         2.06398759e-01,   1.92739261e-01,   1.95158602e-01,
         2.02374585e-01,   2.02046187e-01,   1.93666425e-01,
         1.99123760e-01,   1.96669148e-01,   1.78882379e-01,
         1.75244063e-01,   1.86510407e-01,   1.91060349e-01,
         2.02505138e-01,   1.93973327e-01,   1.75071938e-01,
         1.83735698e-01,   1.82779260e-01,   1.88558928e-01,
         1.93490876e-01,   1.90270924e-01,   1.83453094e-01,
         1.84131198e-01,   1.84862787e-01,   2.03717150e-01,
         2.08570966e-01,   2.01883271e-01,   1.97026024e-01,
         1.92302626e-01,   1.88884897e-01,   1.76496254e-01,
         1.68445510e-01,   1.75029571e-01,   1.76903256e-01,
         1.70689639e-01,   1.66244143e-01,   1.48767800e-01,
         1.35070209e-01,   1.59480285e-01,   1.64337163e-01,
         1.65922935e-01,   1.77203980e-01,   1.65431397e-01,
         1.75899732e-01,   1.85736926e-01,   1.75104676e-01,
         1.80022514e-01,   1.87894941e-01,   2.10856131e-01,
         2.15790393e-01,   1.89677347e-01,   1.89647640e-01,
         1.86524568e-01,   2.03014733e-01,   2.01944113e-01,
         1.93925671e-01,   1.86127415e-01,   1.78161151e-01,
         1.79732098e-01,   1.78052727e-01,   1.88417177e-01,
         1.93248845e-01,   1.87886082e-01,   1.85062962e-01,
         1.90784728e-01,   1.91990490e-01,   1.90913767e-01,
         1.96414014e-01,   2.15109089e-01,   2.15003806e-01,
         2.12155748e-01,   2.16353722e-01,   2.10108068e-01,
         2.07983200e-01,   2.18743221e-01,   2.27602376e-01,
         2.23472104e-01,   1.91223725e-01,   1.93774918e-01,
         2.02294960e-01,   2.15028435e-01,   2.17877973e-01,
         2.19377836e-01,   1.98491338e-01,   2.08545606e-01,
         1.90068450e-01,   2.11082693e-01,   1.99791422e-01,
         2.01849778e-01,   2.30678823e-01,   2.25294655e-01,
         2.13541845e-01,   2.08934697e-01,   2.09997444e-01,
         2.21124803e-01,   2.03870783e-01,   2.11433605e-01,
         2.22922482e-01,   2.17462920e-01,   1.99914817e-01,
         2.11901190e-01,   2.03222081e-01,   2.08378567e-01,
         1.99120257e-01,   2.05184804e-01,   1.82428405e-01,
         1.81464671e-01,   1.95359374e-01,   2.09813629e-01,
         1.89045496e-01,   1.97931709e-01,   1.99672544e-01,
         1.97485094e-01,   2.09175622e-01,   2.05548433e-01,
         2.05656857e-01,   2.04823501e-01,   2.04164975e-01,
         2.19866236e-01,   2.13356728e-01,   2.18360181e-01,
         2.05760878e-01,   2.10249307e-01,   2.09659289e-01,
         1.96440463e-01,   1.82594968e-01,   1.73495240e-01,
         1.70140232e-01,   1.45200546e-01,   1.64352716e-01,
         1.73035984e-01,   1.66254382e-01,   1.69810685e-01,
         1.76519108e-01,   1.82464724e-01,   1.89606628e-01,
         1.75903197e-01,   1.92259885e-01,   2.06753748e-01,
         1.87826560e-01,   2.01829076e-01,   1.74434082e-01,
         1.71696382e-01,   1.70852480e-01,   1.79283968e-01,
         1.90456309e-01,   1.96201904e-01,   1.72788120e-01,
         1.75079556e-01,   1.64106301e-01,   1.78801756e-01,
         1.72760897e-01,   1.65878007e-01,   1.59759257e-01,
         1.62552919e-01,   1.47179488e-01,   1.49922256e-01,
         1.60533664e-01,   1.74582200e-01,   1.73866421e-01,
         1.87506328e-01,   1.97038014e-01,   1.85022341e-01,
         1.85291153e-01,   1.73878744e-01,   1.95389947e-01,
         1.80362153e-01,   1.93694719e-01,   1.79832507e-01,
         1.56191606e-01,   1.65739427e-01,   1.92128416e-01,
         2.07994314e-01,   2.02547638e-01,   1.65510705e-01,
         1.89780024e-01,   1.80569821e-01,   1.68403034e-01,
         1.70284792e-01,   1.94108795e-01,   1.87902939e-01,
         2.17598428e-01,   2.32041801e-01,   2.18548111e-01,
         1.87555964e-01,   1.98187594e-01,   2.06775198e-01,
         1.96882502e-01,   1.75379441e-01,   1.99771174e-01,
         2.07088591e-01,   1.94426279e-01,   1.95316655e-01,
         2.07617890e-01,   1.87845047e-01,   1.77587355e-01,
         1.82181153e-01,   1.87901424e-01,   1.90679880e-01,
         2.21653227e-01,   2.11754365e-01,   2.14102076e-01,
         2.18016990e-01,   2.15642654e-01,   1.92730798e-01,
         2.08826261e-01,   2.37075508e-01,   2.17228999e-01,
         2.12852626e-01,   2.24698350e-01,   2.15758944e-01,
         1.88837485e-01,   2.13897101e-01,   2.06624356e-01,
         2.16895590e-01,   1.99071310e-01,   2.15187674e-01,
         1.76724199e-01,   1.95175556e-01,   2.09682713e-01,
         2.35863282e-01,   2.28544614e-01,   2.37118177e-01,
         2.12290829e-01,   2.09311179e-01,   1.97184422e-01,
         2.36647950e-01,   2.41298145e-01,   2.39426466e-01,
         2.48040224e-01,   2.59281735e-01,   2.47198148e-01,
         2.39762118e-01,   2.11774283e-01,   2.27829526e-01,
         2.30600079e-01,   2.17916261e-01,   2.16858655e-01,
         2.29013810e-01,   2.27748198e-01,   2.26686898e-01,
         2.34403176e-01,   2.31390128e-01,   2.06502056e-01,
         2.27089830e-01,   2.17234402e-01,   2.17883354e-01,
         2.27761990e-01,   2.43665484e-01,   2.52277941e-01,
         2.42067892e-01,   2.41669615e-01,   2.27212918e-01,
         2.13800881e-01,   2.20313294e-01,   2.29839520e-01,
         2.40982931e-01,   2.48482506e-01,   2.40763600e-01,
         2.22609696e-01,   1.88967467e-01,   2.11932013e-01,
         2.17943024e-01,   2.17971054e-01,   2.32927797e-01,
         2.49155566e-01,   2.04151892e-01,   2.23157436e-01,
         2.29193060e-01,   2.40819384e-01,   2.42377411e-01,
         2.64680796e-01,   2.31545808e-01,   1.90469297e-01,
         1.57002347e-01,   1.75288467e-01,   1.71633842e-01,
         1.69945878e-01,   1.96901917e-01,   2.00139183e-01,
         1.96116701e-01,   2.13726522e-01,   2.24305318e-01,
         1.78830964e-01,   2.04639566e-01,   2.03292824e-01,
         2.15265163e-01,   1.98454323e-01,   2.22282937e-01,
         2.23727201e-01,   2.37915669e-01,   2.55263254e-01,
         2.53034043e-01,   1.98615098e-01,   2.05384322e-01,
         1.79223888e-01,   1.79280430e-01,   1.88924859e-01,
         2.04124338e-01,   1.92801081e-01,   1.92000452e-01,
         1.72554073e-01,   1.62867374e-01,   1.65231202e-01,
         1.94951787e-01,   1.92163658e-01,   1.92726691e-01,
         2.00678471e-01,   2.18181949e-01,   1.89197221e-01,
         1.56450834e-01,   1.66738173e-01,   2.22098724e-01,
         2.35552467e-01,   1.96371602e-01,   1.98121622e-01,
         2.18638996e-01,   2.23485227e-01,   2.17120005e-01,
         2.25957245e-01,   2.75620783e-01,   2.01853250e-01,
         2.21065531e-01,   2.44690828e-01,   2.75723571e-01,
         2.46811293e-01,   2.22073160e-01,   2.38286125e-01,
         2.76351571e-01,   2.52876145e-01,   2.46131519e-01,
         2.52372946e-01,   2.05237541e-01,   2.15605778e-01,
         2.46187105e-01,   2.09063303e-01,   2.10374842e-01,
         2.10319227e-01,   1.94758390e-01,   2.04554353e-01,
         1.80019845e-01,   1.76049394e-01,   1.86880733e-01,
         2.41481014e-01,   2.72303098e-01,   2.86228299e-01,
         2.83782458e-01,   2.84000609e-01,   2.72789404e-01,
         2.70499268e-01,   2.66041142e-01,   2.31177744e-01,
         1.67494145e-01,   2.44681908e-01,   2.62683868e-01,
         2.20459711e-01,   2.18943524e-01,   1.98442494e-01,
         1.73697874e-01,   1.51776582e-01,   2.12517471e-01,
         2.17783869e-01,   2.01000783e-01,   1.88573347e-01,
         2.09714171e-01,   2.13835038e-01,   2.49576652e-01,
         2.74273415e-01,   2.94419660e-01,   2.79616994e-01,
         2.72545686e-01,   2.47553486e-01,   2.79570675e-01,
         2.72013198e-01,   2.61524797e-01,   3.27238629e-01,
         3.32980376e-01,   3.54660117e-01,   2.91441799e-01,
         2.62415197e-01,   2.89219359e-01,   3.22510672e-01,
         3.43192871e-01,   3.46682799e-01,   2.44571754e-01,
         1.48284109e-01,   1.20944579e-01,   1.77193839e-01,
         1.47222364e-01,   1.67304965e-01,   1.84951766e-01,
         2.42848881e-01,   3.36897981e-01,   3.75059285e-01,
         3.66253646e-01,   3.97364249e-01,   4.06549491e-01,
         4.24824910e-01,   5.45800374e-01,   5.18381728e-01,
         5.06260990e-01,   5.67431009e-01,   7.31278735e-01,
         6.87905584e-01,   4.12978937e-01,   2.72489974e-01,
         2.56930651e-01,   1.39185545e-01,   1.76798757e-01,
         1.86168946e-01,   1.14843050e-01,  -3.02238006e-02,
        -2.42473269e-02,   2.80810899e-02,   1.39282443e-02,
        -5.03502494e-02,   1.11830036e-01,   3.89394731e-01,
         5.21169921e-01,   5.66507764e-01,   5.32415923e-01,
         5.38572767e-01,   6.70316019e-01,   7.70823816e-01,
         9.06653710e-01,   8.35246634e-01,   8.27326660e-01,
         8.02898939e-01,   8.65365391e-01,   1.04063709e+00,
         9.31131490e-01,   9.07799733e-01,   7.97442741e-01,
         6.07765046e-01,   1.04642433e+00])

In [22]:
from statsmodels.tsa.stattools import adfuller

adfuller(df['K11'].values)

(-1.6066254309531645,
 0.48026453432223859,
 21,
 910,
 {'1%': -3.4375564198635562,
  '10%': -2.5684639415529524,
  '5%': -2.8647213198889023},
 -3054.2813707137821)

In [37]:
df.iloc[7:10]['K11']

Date
2015-03-23    0.378973
2015-03-24    0.279839
2015-03-25    0.438913
Name: K11, dtype: float64

In [42]:
n = df.shape[0]
mylag = 7
k_last = df.iloc[(mylag - 1):n]['K11']
k_first = df.iloc[0:(n - mylag)]['K11']
k_diff = k_last.reset_index() - k_first.reset_index()
# k_diff.drop('index', axis=1, inplace=True)

In [53]:
k_diff.drop(k_diff[k_diff['K11'].isnull() == True].index, axis=0, inplace=True )

In [54]:
adfuller(k_diff['K11'].values)

(-8.0806508982209184,
 1.4645317073787168e-12,
 21,
 901,
 {'1%': -3.4376286107197851,
  '10%': -2.5684808963896324,
  '5%': -2.8647531504389767},
 -2802.3103429513176)

In [51]:
k_diff['K11'].isnull() == True

2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
       ...
896    False
897    False
898    False
899    False
900    False
901    False
902    False
903    False
904    False
905    False
906    False
907    False
908    False
909    False
910    False
911    False
912    False
913    False
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925     True
Name: K11, Length: 924, dtype: bool